<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplate"
>
<head>
    <meta charset="UTF-8">
    <title>Form Patients</title>
</head>
<body>

    <div layout:fragment="content1">
        <div class="col-md-6 offset-3">

            <div class="card mt-3">
                <div class="card-header">
                    <h1>Un Nouveau Patient</h1>
                </div>
                <div class="card-body">
                    <form method="post" th:action="@{/admin/save(keyword=${keyword},page=${currentPage})}">
                        <div>
                            <label for="nom">Name</label>
                            <input id="nom" class="form-control" type="text" name="nom" th:value="${patient.nom}"/>
                            <span class="text-danger" th:errors="${patient.nom}"></span>
                        </div>
                        <div>
                            <label for="dateNaissance">Date Naissance</label>
                            <input id="dateNaissance" class="form-control"  type="date" name="dateNaissance" th:value="${patient.dateNaissance}"/>
                            <span class="text-danger" th:errors="${patient.dateNaissance}"></span>
                        </div>
                        <div>
                            <label>Malade</label>
                            <input  type="checkbox" name="malade" th:checked="${patient.malade}"/>
                            <span class="text-danger" th:errors="${patient.malade}"></span>
                        </div>
                        <div>
                            <label>Score</label>
                            <input class="form-control" type="text" name="score" th:value="${patient.score}"/>
                            <span class="text-danger" th:errors="${patient.score}"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>