<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplate"
>
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <style>
        body {
            background-image: url("/img.png");
            background-size: cover;
            height: 100vh;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>

    <div layout:fragment="content1"></div>

</body>
</html>